In [1]:
import pandas as pd
import numpy as np
import pickle

In [4]:
filez = '../../data/train.csv'
df = pd.read_csv(filez, parse_dates=['project_submitted_datetime'])

In [5]:
df.head(1)

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182080 entries, 0 to 182079
Data columns (total 16 columns):
id                                              182080 non-null object
teacher_id                                      182080 non-null object
teacher_prefix                                  182076 non-null object
school_state                                    182080 non-null object
project_submitted_datetime                      182080 non-null datetime64[ns]
project_grade_category                          182080 non-null object
project_subject_categories                      182080 non-null object
project_subject_subcategories                   182080 non-null object
project_title                                   182080 non-null object
project_essay_1                                 182080 non-null object
project_essay_2                                 182080 non-null object
project_essay_3                                 6374 non-null object
project_essay_4                                 6374 non-null object
project_resource_summary                        182080 non-null object
teacher_number_of_previously_posted_projects    182080 non-null int64
project_is_approved                             182080 non-null int64
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 22.2+ MB

In [7]:
df['teacher_prefix']

array(['Ms.', 'Mrs.', 'Mr.', 'Teacher', 'Dr.', nan], dtype=object)

In [8]:
df['teacher_id'].value_counts()

fa2f220b537e8653fb48878ebb38044d    74
df8a4b7ad173b57f7ac52e447cc24043    71
1f64dcec848be8e95c4482cc845706b2    70
ae67d8bbc64ec3bf7fd2db1297721160    58
0d90f689080b0d740a62a51c7f362829    51
062339e2c5ca3b602351bb02ffef9ae4    49
7b17c95da53e3d1f011f84232ad01238    48
4aa921b73a2e523720789ff9b53e6504    48
9f49ba20aa1c28eb95dbad8b8edd2b69    48
613ac392781124be92aecc0d8b251c43    47
d1fe66a662ad4807b33f87d2a12fac8b    47
19f24640d9da49f6f8b4c9938c049591    46
be87a3b5310f15bee9794a636a0929b7    46
cd7400347f6c17ca9c1fdb5adbecbbac    46
b357af898fe06944813be328a2e1335a    45
1be8ff2501f21dbe85a2fc87afb641e8    43
1a8fd309463ad0d6603be484c5f90b1d    41
7be1610f23ca55a033b74eedaf7cf694    41
4416745560343f14a74dedcda4ec03b0    41
967180903176eb433b8ab95a0c917201    41
a958e1e5342da774ae2c511810767c45    40
598b6f5dda5ed11dd4cd6ad8690ed9ae    40
0d7b3cd172c5b19f83a0ed303f46b729    40
607a99bfff1c1e24386fdb2968fe5c2d    39
26730209ba164d3581dc7257ece69ccb    39
84357490d0aeb3711ae4d1462fb51d01    38
161003b94c2310d9ee64985e1027e5d3    38
bde81494da38940f61e20ba7c9efdc69    38
aab99469589f63a9ab6d086a7528ead5    37
be8786b4a0f56e8beb28c5aa7409ba29    37
                                    ..
75d94e261e84429a7d0e4b617d8849db     1
91edd12c2438b39758a765efd7b9bd8e     1
080c4c40236e6b698db9bdd5627ac2f2     1
103b5b95d38ac0cd12df8e0bce7eac60     1
c5516f83bbf87bc844d8b334236f3d4e     1
4526075699d3ab0f32ba24f8097ef321     1
0a367e8d804c5cf0e4cce88d174ab872     1
ef9a4baf7fb4ca0fec6783c3d7325858     1
c86676f80310ddc1395d1d278c89af5a     1
40ced98218d4575176fca726ab67dcdd     1
5a2b011984357372f3a5641dd58dc1c5     1
05c73ffa34e1f4d19bf4bddde90b892b     1
b8d193ef44e4adf593fee5e61a22f4f5     1
98dc5abb2eca3cc4b4a341e04e5ced31     1
da299aa9a441b90a2129af25a5a19f09     1
5d36230c27df4848353211361ba609f1     1
5b1afb80b403b9e46d5d43e667f5831b     1
663d6846079ae095187332ea869b809e     1
422512e2d0b7bb8df81def4746129b29     1
fa46bba6808a824d1bee4db3364eca38     1
967f40a17c4345ea5303df6e6bd9b979     1
03ebb7bcf97917ba2f75221a5285e39e     1
b4087d541fd7964b21d80eb2bcab838a     1
4d892ac03c76fbbee8e03d23ef87acf4     1
4bfb7a69d54304b91876c6296b1baa4f     1
db596ee0e781483d3d3e9e9097bd179f     1
bb0b7917c1d80c32c38a501a3822fa6a     1
92fd15ac821239f8b9a746200688514c     1
c0efaa93b93697bba53697ed1bd80baa     1
450d585a616af00cd18efba6f4379848     1
Name: teacher_id, Length: 104414, dtype: int64

In [9]:
df['teacher_number_of_previously_posted_projects'].unique()

array([ 26,   1,   5,  16,  42,   0,  13,  12,   3,  11,  64,   6,  34,
         8,  28,   9,   2,  49,  57,   4,  44,  19,  53,  35,   7,  10,
        23, 151,  72,  18,  77,  24,  25,  14, 165,  20,  36,  92,  76,
        22,  96,  87,  67, 115,  47, 160, 137,  17,  54,  15, 129,  84,
        33,  74, 120,  45,  21,  46,  85, 103,  51,  56,  86,  29,  88,
        58,  66,  37,  71,  32,  40, 154,  30,  31, 155,  80,  81, 150,
        70,  43,  50, 130,  38, 209,  62, 114,  59,  41,  48, 125, 202,
       122,  65,  79,  39, 102, 116,  90, 145, 174, 107,  75, 144,  98,
        55, 118,  27,  61,  89,  82, 184, 356,  52, 104, 227,  83,  94,
       126, 341, 141, 106, 148,  95, 332, 109, 133, 121, 171,  97, 351,
       142, 167, 135, 190, 186, 175, 194, 140, 113,  60, 340, 119, 258,
       138, 127,  91, 100, 180, 267, 282,  73,  63, 222, 132, 220, 168,
       153,  69, 164, 277, 179, 205, 198, 117, 288,  78, 284, 257, 134,
        93, 147, 313,  68, 105, 303, 323,  99, 203, 111, 212, 261, 158,
       240, 163, 185, 108, 166, 149, 123, 262, 146, 265, 172, 247, 208,
       249, 228, 229, 292, 201, 331, 188, 177, 206, 159, 311, 291, 196,
       195, 299, 191, 253, 183, 271, 124, 178, 310, 156, 197, 152, 213,
       238, 386, 101, 219, 128, 254, 349, 136, 295, 182, 143, 162, 362,
       139, 376, 157, 110, 440, 338, 187, 255, 214, 297, 354, 269, 387,
       131, 289, 112, 391, 259, 342, 225, 210, 232, 207, 200, 416, 217,
       256, 273, 307, 325, 170, 308, 345, 379, 218, 335, 392, 407, 378,
       274, 176, 192, 215, 314, 370, 193, 268, 169, 230, 251, 372, 241,
       224, 245, 248, 382, 290, 286, 173, 161, 294, 234, 252, 181, 309,
       189, 275, 353, 285, 226, 366, 231, 394, 312, 298, 304, 373, 344,
       330, 388, 239, 450, 211, 260, 216, 270, 199, 319, 204, 283, 397,
       235, 221, 223, 346, 333, 246, 302, 359, 432, 237, 375, 266, 279,
       423, 339, 347, 322, 328, 233, 243, 429, 321, 244, 343, 431, 264,
       276, 428, 317, 363, 316, 236, 287, 348, 272, 242, 364, 410, 365,
       352, 451, 281, 435, 296, 422, 433, 306, 320, 278, 367, 395, 425,
       280, 377, 406, 329, 300, 293, 404, 337, 441, 361, 326, 318, 324,
       263, 305, 350, 336, 434, 443, 301, 250, 315, 389, 437], dtype=int64)

In [ ]:
dictionary = {
    'teacher_prefix': list(train['teacher_prefix']),
    'school_state': list(train['school_state']),
    'project_grade_category': list(train['project_grade_category']),
    'project_subject_categories': list(train['project_subject_categories']),
    'project_subject_subcategories': list(train['project_subject_subcategories'])
}

In [41]:
from datetime import datetime
now = datetime.now()
timedict = {
    'year': int(now.strftime('%Y')),
    'month': int(now.strftime('%m')),
    'date': int(now.strftime('%d')),
    'day_of_week': int(now.strftime('%w')),
    'hour': int(now.strftime('%H')),
    'minute': int(now.strftime('%M'))
}

In [42]:
timedict

{'date': 30,
 'day_of_week': 6,
 'hour': 13,
 'minute': 43,
 'month': 6,
 'year': 2018}

In [39]:
print(now)

2018-06-30 13:24:48.329517

In [40]:

int(now.strftime('%d'))

30

6

'6'

'13'

'24'

In [ ]:
    df['year'] = df['project_submitted_datetime'].apply(lambda x: int(x.split('-')[0]))
    df['month'] = df['project_submitted_datetime'].apply(lambda x: int(x.split('-')[1]))
    df['date'] = df['project_submitted_datetime'].apply(lambda x: int(x.split(' ')[0].split('-')[2]))
    df['day_of_week'] = pd.to_datetime(df['project_submitted_datetime']).dt.weekday
    df['hour'] = df['project_submitted_datetime'].apply(lambda x: int(x.split(' ')[-1].split(':')[0]))
    df['minute'] = df['project_submitted_datetime'].apply(lambda x: int(x.split(' ')[-1].split(':')[1]))
    df['project_submitted_datetime'] = pd.to_datetime(df['project_submitted_datetime']).values.astype(np.int64)