In [15]:
import pandas as pd
import numpy as np

In [13]:
resources = pd.read_csv('data/resources.csv')

In [16]:
# Merge with resources
res = pd.read_csv('data/resources.csv')
res = pd.DataFrame(res[['id', 'quantity', 'price']].groupby('id').agg(\
    {
        'quantity': [
            'sum',
            'min',
            'max',
            'mean',
            'std',
            # lambda x: len(np.unique(x)),
        ],
        'price': [
            'count',
            'sum',
            'min',
            'max',
            'mean',
            'std',
            lambda x: len(np.unique(x)),
        ]}
    )).reset_index()
res.columns = ['_'.join(col) for col in res.columns]
res.rename(columns={'id_': 'id'}, inplace=True)
res['mean_price'] = res['price_sum']/res['quantity_sum']

In [21]:
res['price_std'].min()

0.0

In [22]:
res['price_std'].max()

6128.982376222826

In [23]:
res['price_std'].mean()

59.82837048515381

In [26]:
res['price_std'].median()

24.500236340138777

In [24]:
res.head()

,id,quantity_sum,quantity_min,quantity_max,quantity_mean,quantity_std,price_count,price_sum,price_min,price_max,price_mean,price_std,price_<lambda>,mean_price
0,p000001,7,1,2,1.750000,0.500000,4,459.56,23.99,261.08,114.890000,101.929679,4.0,65.651429
1,p000002,21,1,4,1.500000,0.854850,14,515.89,8.46,134.90,36.849286,33.549557,13.0,24.566190
2,p000003,4,1,1,1.000000,0.000000,4,298.97,39.99,169.00,74.742500,63.014906,3.0,74.742500
3,p000004,98,1,2,1.031579,0.175804,95,1113.69,1.60,401.54,11.723053,40.608577,36.0,11.364184
4,p000005,8,1,3,2.000000,1.154701,4,485.99,54.08,323.75,121.497500,134.835000,2.0,60.748750